.app-bg {
    background-color: #f6f2e9;
}

.profile-card {
    background-color: #2f2f2f;
    border: 2px solid #c9a227;
    border-radius: 15px;
}

.profile-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.stat-card {
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
}

.pink { background-color: #f8d7da; }
.green { background-color: #d1f2eb; }
.peach { background-color: #f9e79f; }
.lightpink { background-color: #fadbd8; }