.app-bg {
    background-color: #f6f2e9;
}

.profile-card {
    background-color: #2f2f2f;
    border: 2px solid #c9a227;
    border-radius: 15px;
}

.profile-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}